Repository rwxmad/react-github-contribution-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.tsx . --fix, prettier --write .

docs: update README.md
  README.md
Due: none

1.1.0
  package-lock.json
  package.json
Due: prettier --write .

1.2.0
  package-lock.json
  package.json
Due: prettier --write .

fix(example): change react and react-dom links
  example/package-lock.json
  example/package.json
Due: prettier --write .

chore(index): remove unnecessary comments
  src/index.ts
Due: eslint --ext .ts,.tsx . --fix, prettier --write .

fix(Graph): hide month name if totalWeeks <= 1
  src/components/Graph/Graph.tsx
Due: eslint --ext .ts,.tsx . --fix, prettier --write .

fix(Graph): change months display condition
  src/components/Graph/Graph.tsx
Due: eslint --ext .ts,.tsx . --fix, prettier --write .

chore(types): fix typos
  src/types/index.ts
Due: eslint --ext .ts,.tsx . --fix, prettier --write .

chore(Graph): move styles to separate Graph.css
  package-lock.json
  package.json
  src/components/Graph/Graph.css
  src/components/Graph/Graph.tsx
Due: eslint --ext .ts,.tsx . --fix, prettier --write .

v1.3.0
  package-lock.json
  package.json
Due: prettier --write .

style: disallow semi
  .eslintrc.json
  .prettierrc.json
  src/components/Graph/Graph.tsx
  src/components/Graph/index.ts
  src/index.ts
  src/types/index.ts
Due: eslint --ext .ts,.tsx . --fix, prettier --write .

style: format rest files
  README.md
  example/src/index.tsx
Due: eslint --ext .ts,.tsx . --fix, prettier --write .

Path conditions:
  eslint --ext .ts,.tsx . --fix: any of: *.{ts,tsx}
  prettier --write .: any of: *.{ts,tsx,json,yml,yaml}
